.bloc_left_price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}
.category_block li:hover {
    background-color: #007bff;
}
.category_block li:hover a {
    color: #ffffff;
}
.category_block li a {
    color: #343a40;
}
.add_to_cart_block .price {
    color: #c01508;
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 0;
}
.add_to_cart_block .price_discounted {
    color: #343a40;
    text-align: center;
    text-decoration: line-through;
    font-size: 140%;
}
.product_rassurance {
    padding: 10px;
    margin-top: 15px;
    background: #ffffff;
    border: 1px solid #6c757d;
    color: #6c757d;
}
.product_rassurance .list-inline {
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
}
.product_rassurance .list-inline li:hover {
    color: #343a40;
}
.reviews_product .fa-star {
    color: gold;
}
.pagination {
    margin-top: 20px;
}
footer {
    background: #343a40;
    padding: 40px;
}
footer a {
    color: #f8f9fa!important
}
.col-sm {
    display: flex;
    flex-direction: column;
}
.card {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin: 5px;
}

.card-img-top {
    width: 100%;
    height: 70%;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.card-img-top {
    width: 100%;
    height: auto;
}
.card-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
}
.btn-danger,
.btn-success {
    flex: 1;
    margin: 5px;
}
.btn-danger {
    text-align: center;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1;
    margin: 5px;
}
.col-12 {
    flex-grow: 1;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.row-inner {
    display: flex;
}
.col-inner {
    flex: 1;
    margin: 5px;
}